<h1>Signup</h1>

<%= form_for @user do |f| %>
  <span>Email: </span><br>
  <%= f.text_field :email %><br>

  <span>Password: </span><br>
  <%= f.password_field :password %><br>

  <span>Password confirmation: </span><br>
  <%= f.password_field :password_confirmation %><br>

  <%= f.submit %>
<% end %>